@mixin list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin circle($dimensions){
    border-radius: 50%;
    width:$dimensions ;
    height: $dimensions;
}
@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin arrow($dimen) {
    content:"";
    position: absolute;
    border: 20px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    #{$dimen}:-40px;
    border-bottom-color:red;
}

@mixin overlay($color, $opacity) {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgba($color, $opacity);
}

@mixin keyf($anim-name){
    @-webkit-keyframes #{$anim-name} {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes #{$anim-name}  {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
}

@mixin keyff($anim-name){
    @-webkit-keyframes #{$anim-name} {
       @content;
    }
    @keyframes #{$anim-name}  {
       @content;
      }
}

@mixin breakpoints($point) {
    @if $point == mobile {
        @media (max-width:767px) {
            @content;
        }
    }  @else if $point == small {
        @media (min-width:768px)  and (max-width:991px) {
            @content;
        }
    }  @else if $point == medium {
        @media (min-width:992px)  and (max-width:1199px) {
            @content;
        }
    }  @else if $point == large {
        @media (min-width:1200px)  {
            @content;
        }
    }
}